<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>HTMLNotepad.applescript</string>
			<key>Image File</key>
			<string>HTMLNotepad.png</string>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>HTMLNotepad</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Open a new editable tab in the default or active Browser containing the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.mypopclip.popclip.extension.HTMLNotepad</string>
	<key>Extension Name</key>
	<string>HTMLNotepad</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
